#videos
  //- .bill-container.bill-container-2
  //-   .top 
  //-     .text-container
  //-       .main-text The Witch
  //-       .description-text Andrew Lippa In Concert
  //-   .video-container(data-start="10",data-end="", data-youtube-id="kaSX0BSrvF8", data-elem-id="video_2")
  //-     .video-picture(style="background-image:url('/images/video_2.jpg');")
  //-     svg.video-icon(version="1.1", x="0px", y="0px", viewBox="0 0 314.068 314.068")
  //-       path(d="M293.002,78.53C249.646,3.435,153.618-22.296,78.529,21.068C3.434,64.418-22.298,160.442,21.066,235.534 c43.35,75.095,139.375,100.83,214.465,57.47C310.627,249.639,336.371,153.62,293.002,78.53z M219.834,265.801 c-60.067,34.692-136.894,14.106-171.576-45.973C13.568,159.761,34.161,82.935,94.23,48.26 c60.071-34.69,136.894-14.106,171.578,45.971C300.493,154.307,279.906,231.117,219.834,265.801z M213.555,150.652l-82.214-47.949 c-7.492-4.374-13.535-0.877-13.493,7.789l0.421,95.174c0.038,8.664,6.155,12.191,13.669,7.851l81.585-47.103 C221.029,162.082,221.045,155.026,213.555,150.652z")
  //-       #video_2.video
  each video, index in videos
    - var twoLines = video.title.length > 11
    .bill-container(class="bill-container-#{index + 1}")
      .top 
        .text-container(class="#{twoLines ? 'two-lines-container' : ''}")
          .main-text(class="#{twoLines ? 'two-lines' : ''}")=video.title
          .description-text 
            each line in video.subText
              if line.fontStyle == "italic"
                | #[i #{line.text}]
              else
                | #{line.text}
      .video-container(data-start="#{video.videoData.start}",data-end="#{video.videoData.end || ''}", data-youtube-id="#{video.videoData.youtubeId}", data-elem-id="video_#{index + 1}")
        .video-picture(style="background-image:url('#{video.image}');")
        svg.video-icon(version="1.1", x="0px", y="0px", viewBox="0 0 314.068 314.068")
          path(d="M293.002,78.53C249.646,3.435,153.618-22.296,78.529,21.068C3.434,64.418-22.298,160.442,21.066,235.534 c43.35,75.095,139.375,100.83,214.465,57.47C310.627,249.639,336.371,153.62,293.002,78.53z M219.834,265.801 c-60.067,34.692-136.894,14.106-171.576-45.973C13.568,159.761,34.161,82.935,94.23,48.26 c60.071-34.69,136.894-14.106,171.578,45.971C300.493,154.307,279.906,231.117,219.834,265.801z M213.555,150.652l-82.214-47.949 c-7.492-4.374-13.535-0.877-13.493,7.789l0.421,95.174c0.038,8.664,6.155,12.191,13.669,7.851l81.585-47.103 C221.029,162.082,221.045,155.026,213.555,150.652z")
          .video(id="video_#{index + 1}")
  
  //- .bill-container.bill-container-3
  //-   .top 
  //-     .text-container.two-lines-container
  //-       .main-text.two-lines How ‘Bout A #[br] Dance
  //-       .description-text #[i By Frank Wildhorn], Live at 54 Below
  //-   .video-container(data-start="24",data-end="167", data-youtube-id="t8k5ELFvdpw", data-elem-id="video_3")
  //-     .video-picture(style="background-image:url('/images/video_3.jpg');")
  //-     svg.video-icon(version="1.1", x="0px", y="0px", viewBox="0 0 314.068 314.068")
  //-       path(d="M293.002,78.53C249.646,3.435,153.618-22.296,78.529,21.068C3.434,64.418-22.298,160.442,21.066,235.534 c43.35,75.095,139.375,100.83,214.465,57.47C310.627,249.639,336.371,153.62,293.002,78.53z M219.834,265.801 c-60.067,34.692-136.894,14.106-171.576-45.973C13.568,159.761,34.161,82.935,94.23,48.26 c60.071-34.69,136.894-14.106,171.578,45.971C300.493,154.307,279.906,231.117,219.834,265.801z M213.555,150.652l-82.214-47.949 c-7.492-4.374-13.535-0.877-13.493,7.789l0.421,95.174c0.038,8.664,6.155,12.191,13.669,7.851l81.585-47.103 C221.029,162.082,221.045,155.026,213.555,150.652z")
  //-       #video_3.video
